<footer class="d-flex justify-content-evenly concert-section-black p-lg-4 p-2">
  <div class="d-flex-column gap-3">
    <div class="font-istok-web-24 mb-3">Főmenü</div>
    <div routerLink="/biography" class="font-istok-web-16 cursor-pointer">Biográfia</div>
    <div routerLink="/contact" class="font-istok-web-16 cursor-pointer">Kapcsolatfelvétel</div>
    <div routerLink="/galery" class="font-istok-web-16 cursor-pointer">Galéria</div>
    <!--<div routerLink="/admin-login" class="font-istok-web-16 cursor-pointer">ADMIN</div>-->

  </div>
  <div class="d-flex-column gap-3">
    <div class="font-istok-web-24 mb-3">Social Media</div>
    <div class="d-flex gap-2 justify-content-center">
      <div>
        <a class="btn btn-dark cursor-pointer" style="background-color: #3b5998;" href="https://www.facebook.com/lilinmusicband" target="_blank" role="button">
          <i class="fa fa-facebook-f"></i>
        </a>
      </div>
      <div>
        <a class="btn btn-dark cursor-pointer" style="background-color: #ac2bac;" href="https://www.instagram.com/lilinband/" target="_blank" role="button">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div>
        <a class="btn btn-dark cursor-pointer" style="background-color: #ed302f;" href="https://www.youtube.com/channel/UCffiIY3oYTvGtGfVBaTHCew/videos" target="_blank" role="button">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>

</footer>
