<nav class="navbar navbar-expand-md  navbar-dark concert-section-black">
  <div class="container-lg">
    <div><a class="navbar-brand" routerLink="">Lilin Zenekar</a></div>

    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigationMenu" aria-controls="navigationMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navigationMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link font-lobster-24" routerLink="/biography">Biográfia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-lobster-24" routerLink="/calendar">Koncertnaptár</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-lobster-24" routerLink="/galery">Galéria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-lobster-24" routerLink="/contact">Kapcsolatfelvétel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
