<div class="container d-flex p-3 justify-content-center">
  <div class="displayTable card p-3">
    <div class="displayTableCell">
      <div class="authBlock d-flex flex-column justify-content-center align-items-center">
        <h3>Bejelentkezés</h3>
        <div class="formGroup my-1">
          <input type="text" class="formControl" placeholder="E-mail cím" #userName required>
        </div>
        <div class="formGroup my-1">
          <input type="password" class="formControl" placeholder="Jelszó" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
       
        <div class="authBlock my-1">
          <div class="formGroup my-1">
            <input type="button" class="btn btn-primary" value="Bejelntkezés" (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>
        </div>
        <!-- Calling SignOut Api from AuthenticationService -->
        <div class="formGroup">
          <input type="button"
                 class="btn btn-primary"
                 value="Kijelentkezés"
                 (click)="authService.SignOut()" />
        </div>
      </div>
    </div>
  </div>
</div>
