<div class="container">
<div class="d-flex font-istok-web-24 p-4 justify-content-center"> Koncertjeink</div>
  <div class="d-flex justify-content-center">
    <div class="d-none d-lg-block p-4">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FBudapest&showTabs=0&showPrint=0&showDate=1&showNav=1&showTitle=0&showCalendars=1&showTz=0&mode=MONTH&title=Lilin&src=ajdyNzNoa2xlOGxtMmRoMHM4OG9yNzFlczRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23F09300" style="border-width:0" width="990" height="800" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="d-lg-none p-3">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FBudapest&showTabs=0&showPrint=0&showDate=1&showNav=1&showTitle=0&showCalendars=1&showTz=0&mode=MONTH&title=Lilin&src=ajdyNzNoa2xlOGxtMmRoMHM4OG9yNzFlczRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23F09300" style="border-width:0" width="350" height="650" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
