 <div ngxViewer class="p-lg-5 p-2">
   <div class="font-istok-web-24">Képek</div>
   <div class="d-flexcolumn d-md-flex my-3 gap-4">
     <div class="card my-3">
       <img src="https://picsum.photos/2000/1500/?random=1" alt="Image 1">
     </div>
     <div class="card my-3">
       <img src="https://picsum.photos/2000/1500/?random=2" alt="Image 2">
     </div>
     <div class="card my-3">
       <img src="https://picsum.photos/2000/1500/?random=3" alt="Image 3">
     </div>
   </div>
   <div class="d-flexcolumn d-md-flex gap-4 my-3">
     <div class="card my-3">
       <img src="https://picsum.photos/2000/1500/?random=5" alt="Image 5">
     </div>
     <div class="card my-3">
       <img src="https://picsum.photos/2000/1500/?random=6" alt="Image 6">
     </div>
     <div class="card my-3">
       <img src="https://picsum.photos/2000/1500/?random=4" alt="Image 4">
     </div>
   </div>
    </div>

